<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendation System</title>
</head>
<body>
    <h1>Book Recommendation System</h1>
    <form action="/recommend" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br><br>
        <label for="authors">Authors:</label><br>
        <input type="text" id="authors" name="authors"><br><br>
        <label for="categories">Categories:</label><br>
        <input type="text" id="categories" name="categories"><br><br>
        <button type="submit">Get Recommendations</button>
    </form>
</body>
</html>
